<%= render "shared/header" %>
  <div class="items-sell-main">
    <h2 class="items-sell-title">レビュー投稿</h2>
    <%# ルーティングでネストを定義している時はネストしたモデルも記述が必要 %>
    <%= form_with model: [@artist, @work, @review], local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル（必須 40文字まで) 例 星野源/POP VIRUS）源さんの音楽も繋がっていく。" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          レビュー
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :review, class:"items-text", id:"item-info", placeholder:"レビュー（必須 200文字から1,000文字まで）例 星野源/POP VIRUS）今や日本を代表するアーティストとなった星野源。 タイトルの「POP VIRUS」、CDショップ店員として、源さんのCDを手に取る人の広がりを目の当たりにしてきた。その広がり方はまさにウイルス的で源さんにぴったりのタイトルだ。多種多様の要素を織り交ぜた楽曲の数々。でも根元にはPOPSがあり、源さんが新たなPOPの在り方を提示してくれた。POP VIRUS 感染はまだまだ続いていく、そして源さんの音楽も繋がっていく。" ,rows:"10" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', artist_work_reviews_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  <% end %>
  </div>
  
<%= render "shared/footer" %>